<div class="modal fade" id="add-item-modal-{{ bucketlist.id }}" tabindex="-1" role="dialog" aria-labelledby="addItem" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Add Item</h4>
        </div>
        <div id="form-modal-body" class="modal-body">
          <form action="{% url 'add-item' %}" method="post" class="nobottommargin">
            {% csrf_token %}
            <div class="row">
              <div class="col-sm-12 col-xs-12 bottommargin-sm">
                <input type="hidden" name="bucketlist_id" value="{{ bucketlist.id }}">
                <label>Title <span style="color: #3DB5E7; font-size: large;">*</span></label>
                <input type="text" name="title" class="sm-form-control" placeholder="Title" required>
              </div>
              <div class="col-sm-412 col-xs-12 bottommargin-sm">
                <label>Description <span style="color: #3DB5E7; font-size: large;">*</span></label>
                <textarea name="description" class="sm-form-control" placeholder="Description" required></textarea>
              </div>
              <div class="col-sm-12">
                <button class="button button-3d nomargin rightmargin-sm" type="submit">Submit</button>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
 </div>
