[report]
omit=
    *site-packages/*
    *site-packages/nose/*
    */python?.?/*
    *node_modules/*
    *__init__*
    *tests/*
    *static/*
    *templates/*
    *migrations/*
    *admin.py*
    *api.py*
    *apps.py*
    *models.py*
    *signals.py*
