{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<section id="slider" class="slider-parallax swiper_wrapper full-screen clearfix">
	<div class="slider-parallax-inner">
		<div class="fslider" data-speed="3000" data-pause="7500" data-animation="fade" data-arrows="false" data-pagi="false" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; background-color: #333;">
			<div class="flexslider" style="height: 100% !important;">
				<div class="slider-wrap" style="height: inherit;">
					<div class="slide" id="slide-one"></div>
					<div class="slide" id="slide-two"></div>
					<div class="slide" id="slide-three"></div>
				</div>
			</div>
		</div>
		<div id="home-slider-overlay">
			<div class="vertical-middle">
				<div class="container clearfix">
					<div class="tabs authentication-tabs clearfix">
						<ul class="tab-nav clearfix">
							<li><a href="#tab-login"><i class="icon-signin"></i><span class="hidden-xs">Login</span></a></li>
							<li><a href="#tab-register"><i class="icon-user"></i><span class="hidden-xs">Register</span></a></li>
						</ul>
						<div class="tab-container">
							<div class="tab-content clearfix" id="tab-login">
								<div class="heading-block nobottomborder bottommargin-sm clearfix">
									<h4 class="fleft">Welcome Back</h4>
									<div class="clear"></div>
								</div>
								{% if error %}
					        <p style="color: #3DB5E7;">
										<i class="icon-warning-sign"></i>
										<strong> {{ error }}</strong>
									</p>
								{% endif %}
								<form action="{% url 'login' %}" method="post" class="nobottommargin">
									{% csrf_token %}
									<div class="row">
										<div class="col-sm-6 col-xs-12 bottommargin-sm">
											<label>Username</label>
											<input type="text" name="username" class="sm-form-control" placeholder="Username" required>
										</div>
										<div class="col-sm-6 col-xs-12 bottommargin-sm">
											<label>Password</label>
											<input type="password" name="password" class="sm-form-control" placeholder="Password" required>
										</div>
										<div class="col-sm-12">
											<button class="button button-3d nomargin rightmargin-sm">Login</button>
										</div>
									</div>
								</form>
							</div>
							<div class="tab-content clearfix" id="tab-register">
								<div class="heading-block nobottomborder bottommargin-sm clearfix">
									<h4 class="fleft">Let The Adventure Begin</h4>
									<div class="clear"></div>
								</div>
								{% if register_form.errors %}
							    {% for field in register_form %}
							      {% for error in field.errors %}
							        <p style="color: #3DB5E7;">
												<i class="icon-warning-sign"></i>
												<strong> {{ error|escape }}</strong>
											</p>
							      {% endfor %}
							    {% endfor %}
							    {% for error in register_form.non_field_errors %}
										<p style="color: #3DB5E7;">
											<i class="icon-warning-sign"></i>
											<strong> {{ error|escape }}</strong>
										</p>
							    {% endfor %}
								{% endif %}
								{% if on_success %}
										<p style="color: #3DB5E7;"><i class="icon-check"></i> Successfully registered! </p>
								{% endif %}
								<form action="{% url 'register' %}" method="post" class="nobottommargin">
									{% csrf_token %}
									<div class="row">
										<div class="col-sm-4 col-xs-12 bottommargin-sm">
											<label>First Name</label>
											<input type="text" name="first_name" class="sm-form-control" placeholder="Your first name" required>
										</div>
										<div class="col-sm-4 col-xs-12 bottommargin-sm">
											<label>Last Name</label>
											<input type="text" name="last_name" class="sm-form-control" placeholder="Your last name" required>
										</div>
										<div class="col-sm-4 col-xs-12 bottommargin-sm">
											<label>Username</label>
											<input type="text" name="username" class="sm-form-control" placeholder="Your username" required>
										</div>
										<div class="col-sm-8 bottommargin-sm">
											<label>Email Address</label>
											<input type="text" name="email" class="sm-form-control" placeholder="Your email address" required>
										</div>
										<div class="col-sm-4 col-xs-12 bottommargin-sm">
											<label>Password</label>
											<input type="password" name="password" class="sm-form-control" placeholder="Your password" required>
										</div>
										<div class="col-sm-12">
											<button class="button button-3d nomargin rightmargin-sm" type="submit">Register</button>
											<a href="?tab-login#tab-login" class="more-link fright" style="margin-top: 9px;">Already have a LifeList account?</a>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
